<div class="zy-header">
	<div class="logo w1000 clear">
		<a class="logo-img" href="#"></a>
		<div class="logo-rt">
			<span>您好，欢迎关注顺丰公益基金会</span>
			<i class="icon-line"></i>
			<a class="enter" href="#">
				进入志愿者平台
				<img class="new" src="../images/new.gif" alt="">
			</a>
			<i class="icon-line"></i>
			<a class="sc" href="#">
				<i class="icon-star"></i>
				收藏本站
			</a>
		</div>
	</div>
	<div class="menu">
		<div class="w1000">
			<ul class="nav clear">
				<li class="top active">
					<a class="top-link" href="#">首页</a>
				</li>
				<li class="top">
					<a class="top-link" href="#">关于我们</a>
					<ul class="sub">
						<li><a href="#">顺丰公益简介</a></li>
						<li><a href="#">组织架构</a></li>
						<li><a href="#">理事会|监事会</a></li>
						<li><a href="#">秘书长</a></li>
						<li><a href="#">工作团队</a></li>
					</ul>
				</li>
				<li class="top">
					<a class="top-link" href="#">项目介绍</a>
					<ul class="sub">
						<li><a href="#">顺丰公益简介</a></li>
						<li><a href="#">组织架构</a></li>
						<li><a href="#">理事会|监事会</a></li>
						<li><a href="#">秘书长</a></li>
						<li><a href="#">工作团队</a></li>
					</ul>
				</li>
				<li class="top">
					<a class="top-link" href="#">新闻动态</a>
					<ul class="sub">
						<li><a href="#">顺丰公益简介</a></li>
						<li><a href="#">组织架构</a></li>
						<li><a href="#">理事会|监事会</a></li>
						<li><a href="#">秘书长</a></li>
						<li><a href="#">工作团队</a></li>
					</ul>
				</li>
				<li class="top">
					<a class="top-link" href="#">我是志愿者</a>
					<ul class="sub">
						<li><a href="#">顺丰公益简介</a></li>
						<li><a href="#">组织架构</a></li>
						<li><a href="#">理事会|监事会</a></li>
						<li><a href="#">秘书长</a></li>
						<li><a href="#">工作团队</a></li>
					</ul>
				</li>
				<li class="top">
					<a class="top-link" href="#">公益地图</a>
				</li>
				<li class="top">
					<a class="top-link" href="#">信息公示</a>
					<ul class="sub">
						<li><a href="#">顺丰公益简介</a></li>
						<li><a href="#">组织架构</a></li>
						<li><a href="#">理事会|监事会</a></li>
						<li><a href="#">秘书长</a></li>
						<li><a href="#">工作团队</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>